asn1crypto==0.24.0
beautifulsoup4==4.7.0
blinker==1.3
certifi==2018.11.29
cffi==1.11.5
chardet==3.0.4
cryptography==2.4.2
cycler==0.9.0
decorator==4.3.0
enum34==1.1.6
future==0.17.1
gyp==0.1
html5lib==1.0.1
httplib2==0.9.1
idna==2.8
ipaddress==1.0.22
lxml==4.2.6
matplotlib==1.5.1
ndg-httpsclient==0.5.1
networkx==2.2
numpy==1.11.0
oauthlib==2.1.0
Pillow==3.1.2
pyasn1==0.4.5
pycparser==2.19
pyinotify==0.9.6
PyJWT==1.7.1
pyOpenSSL==18.0.0
pyparsing==2.0.3
pypng==0.0.18
PySocks==1.6.8
python-dateutil==2.4.2
python-twitter==3.5
pytz==2014.10
requests==2.21.0
requests-oauthlib==1.0.0
six==1.12.0
soupsieve==1.6.1
tweepy==3.7.0
urllib3==1.24.1
webencodings==0.5.1